@font-face {
    font-family: Fortnite;
    src: url(/BASKE9.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Fortnite;
}

body{
    font-size: 100%;
    list-style-type: none;
    position: relative;
}

html{
    scroll-behavior: smooth;
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 30px 0px 30px;
    font-size: 30px;
    color: white;
    background-color: black;
    width: 340px;
    height: 100%;
    position: fixed;
}


.perfil{
    border-radius: 300px;
    width: 270px;
}

input{
    display: none;
}

input[type="checkbox"]:checked ~ .menu{
    display: none;
}

li{
    list-style: none;
    color: grey;
    padding-top: 10pt;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.linkmenu{
    margin-top: 20pt;
}

a{
    color:grey;
    transition: 0.5s;
}

a:hover{
    color:white;
}


.main{
    padding-left: 320px;
}

.text{
    width: 900px
}

.apresentation, .school, .projects, .skill, .certified{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    padding: 100px 0px 100px 0px;
    border-bottom: 1px solid black;
}

.socials{
    display: inline-flex;
    background-color: black;
    width: 80px;
    height: 80px;
    color: grey;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-size: 50px;
    border-radius: 50px;
}

input[type="checkbox"]:checked ~ .main{
    padding: 0px;
}

.title{
    text-decoration: underline;
}

h1{
    font-size: 35pt;
}

h2{
    font-size:22pt;
}

h3{
    font-size: 20pt;
}