.menu{
    display: none;
}

.main{
    padding-left: 0px;
}

.apresentation, .professional, .certified, .school, .skill, .interact{
    max-width: 1100px;
    min-width: 100px;
    padding: 30px 30px 30px 30px;
}

.interact-right{
    display: none;
}