@font-face {
    font-family: Font;
    src: url(/BASKE9.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Font;
}

body{
    font-size: 100%;
    list-style-type: none;
    position: relative;
}

::-webkit-scrollbar{
    width: 20px;
}

::-webkit-scrollbar-track{
    background: #dddddd;
}

::-webkit-scrollbar-thumb{
    background: greenyellow;
}

html{
    scroll-behavior: smooth;
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 30px 0px 30px;
    font-size: 18px;
    color: white;
    background-color: greenyellow;
    max-width: 300px;
    height: 100%;
    position: fixed;
}


.perfil{
    border-radius: 300px;
    max-width: 235px;
}

input{
    display: none;
}

input[type="checkbox"]:checked ~ .menu{
    display: none;
}

li{
    list-style: none;
    color: grey;
    padding-top: 10pt;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.linkmenu{
    color: black;
    margin-top: 20pt;
}

a{
    transition: 0.5s;
}

a:hover{
    color: white;
}

.main{
    padding-left: 290px;
}

.color{
    color: yellowgreen;
}

.apresentation, .projects, .certified{
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    padding: 100px 0px 100px 0px;
    border-bottom: 1px solid black;
    color: black;
    background-color: white;
}

.school, .skill{
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    padding: 100px 0px 100px 0px;
    border-bottom: 1px solid black;
    color: white;
    background-color: #1C1C1C;
}

.interact{
    height: 95vh;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
    padding: 100px 0px 100px 0px;
    border-bottom: 1px solid black;
    color: white;
    background-color: #1C1C1C;
}

.interact-left{
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.img-snake{
    max-width: 400px;
}

.socials{
    display: inline-flex;
    background-color: black;
    max-width: 20px;
    max-height: 40px;
    color: greenyellow;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-size: 30px;
    border-radius: 30px;
    padding: 22px;
}

.socials:hover{
    color: white;
}

input[type="checkbox"]:checked ~ .main{
    padding: 0px;
}

.title{
    max-width: 600px;
    min-width: 100px;
    text-decoration: underline;
    text-align: center;
}

.lista-linguagens{
    display: flex;
    flex-direction: column;
    font-size: 30px;
}

.column1{
    display: flex;
}

.column2{
    display: flex;
}

.linguagens{
    padding: 15px;
    max-width: 60px;
    color: yellowgreen;
}

.button{
    border-radius: 10px;
    font-size: 25pt;
    display: flex;
    justify-content: center;
    background-color: greenyellow;
    align-items: center;
    width: 170px;
    height: 60px;
    transition: 0.5s;
}

.button:hover{
    color: white;
}

h1{
    font-size: 25pt;
}

h2{
    font-size: 15pt;
}

h3{
    text-align:justify;
    font-size: 12pt;
    max-width: 700px;
    display: flex;
    flex-direction: column;
}